@charset "UTF-8";
body{
    font-family:serif;
    background-color: azure;

}

.header{
    background-color: aqua;
    font-size: 30px;
    text-align: center;
}

img{
    padding-top: 20px;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.profile{
    text-align: center;
}

h2{
    text-align: center;
}


.profile li{
    list-style: none;
}

div{
    text-align: center;
}

.link{
    list-style: none;
    text-align: center;
}